{% extends 'base.html' %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">{{post.comment_set.count}}评论</a></span>
                <span class="views-count"><a href="#">{{post.views}} 阅读</a></span>
                   <div class="widget-tag-cloud">
                <ul>

                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:tag' tag.pk %}"># {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </header>
        <div class="entry-content clearfix">
            <!--为了markdown的使用-->
            {{ post.body|safe }}
            <div class="entry-meta">
                <span class="views-count"><b>--EOF--</b></span>
                <br>
                <span class="views-count"><a href="#">最后更新：
                 <time class="entry-date" datetime="{{ post.modified_time }}">{{ post.modified_time }}
                 </time></a></span>
            </div>


        </div>
</article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <div>
            <!--实现评论的隐藏功能-->
            <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{ form.name.id_for_label }}">名字：</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.email.id_for_label }}">邮箱：</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
{#                    <div class="col-md-12">#}
{#                         <div id="perfree" class=""></div>#}
{#                         <a id="getVal" style="margin-left: 20px;" href="javascript:;">我跟你讲我现在就这样~~~</a>#}
{#                    </div>#}
{#                    <!-- 声明容器,存放评论框 -->#}
{##}
{#                    <!-- 结果展示 -->#}
{#                    <div class="result-box" style="width: 566px;margin-top: 20px;"></div>#}
                             <div class="col-md-12">
                             <label for="{{ form.text.id_for_label }}">评论：</label>
                              {{ form.text }}
                              {{ form.text.errors }}
                             <button type="submit" class="comment-btn">发表</button>
                             </div>
                </div>    <!-- row -->
            </form>
        </div>


        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{post.comment_set.count}}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock main %}
{% block toc %}



{% endblock toc %}

